In [ ]:
import os
print(os.getcwd())
print(os.listdir())

/Users/saqibnizami/notebooks/DSI-US-4/Projects/project-2
['Project2.ipynb', 'Untitled.ipynb', 'test.csv', 'sample_sub_reg.csv', 'project2.py', 'train.csv', '.ipynb_checkpoints', 'column_dict.csv', 'p2.py', '.idea']

Project 2

In [2]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_iris
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.model_selection import cross_val_score, train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [ ]:
def datachecks(df):
    display("HEAD and TAIL: ",df.head(3), df.tail(3))
    display("NULL VALUES: ",df.isnull().sum(),"IS NA: ", df.isna().sum().sum())
    display("DESCRIPTIONS: ", df.describe(), df.info())
    
datachecks(train)

'HEAD and TAIL: '

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>PID</th>
      <th>MS SubClass</th>
      <th>MS Zoning</th>
      <th>Lot Frontage</th>
      <th>Lot Area</th>
      <th>Street</th>
      <th>Alley</th>
      <th>Lot Shape</th>
      <th>Land Contour</th>
      <th>...</th>
      <th>Screen Porch</th>
      <th>Pool Area</th>
      <th>Pool QC</th>
      <th>Fence</th>
      <th>Misc Feature</th>
      <th>Misc Val</th>
      <th>Mo Sold</th>
      <th>Yr Sold</th>
      <th>Sale Type</th>
      <th>SalePrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>109</td>
      <td>533352170</td>
      <td>60</td>
      <td>RL</td>
      <td>NaN</td>
      <td>13517</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>3</td>
      <td>2010</td>
      <td>WD</td>
      <td>130500</td>
    </tr>
    <tr>
      <th>1</th>
      <td>544</td>
      <td>531379050</td>
      <td>60</td>
      <td>RL</td>
      <td>43.0</td>
      <td>11492</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>4</td>
      <td>2009</td>
      <td>WD</td>
      <td>220000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>153</td>
      <td>535304180</td>
      <td>20</td>
      <td>RL</td>
      <td>68.0</td>
      <td>7922</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>Reg</td>
      <td>Lvl</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>1</td>
      <td>2010</td>
      <td>WD</td>
      <td>109000</td>
    </tr>
  </tbody>
</table>
<p>3 rows × 81 columns</p>
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>PID</th>
      <th>MS SubClass</th>
      <th>MS Zoning</th>
      <th>Lot Frontage</th>
      <th>Lot Area</th>
      <th>Street</th>
      <th>Alley</th>
      <th>Lot Shape</th>
      <th>Land Contour</th>
      <th>...</th>
      <th>Screen Porch</th>
      <th>Pool Area</th>
      <th>Pool QC</th>
      <th>Fence</th>
      <th>Misc Feature</th>
      <th>Misc Val</th>
      <th>Mo Sold</th>
      <th>Yr Sold</th>
      <th>Sale Type</th>
      <th>SalePrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2048</th>
      <td>916</td>
      <td>909253010</td>
      <td>50</td>
      <td>RL</td>
      <td>57.0</td>
      <td>7558</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>Reg</td>
      <td>Bnk</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>3</td>
      <td>2009</td>
      <td>WD</td>
      <td>177000</td>
    </tr>
    <tr>
      <th>2049</th>
      <td>639</td>
      <td>535179160</td>
      <td>20</td>
      <td>RL</td>
      <td>80.0</td>
      <td>10400</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>Reg</td>
      <td>Lvl</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>11</td>
      <td>2009</td>
      <td>WD</td>
      <td>144000</td>
    </tr>
    <tr>
      <th>2050</th>
      <td>10</td>
      <td>527162130</td>
      <td>60</td>
      <td>RL</td>
      <td>60.0</td>
      <td>7500</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>Reg</td>
      <td>Lvl</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>6</td>
      <td>2010</td>
      <td>WD</td>
      <td>189000</td>
    </tr>
  </tbody>
</table>
<p>3 rows × 81 columns</p>
</div>

'NULL VALUES: '

Id                   0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       330
Lot Area             0
Street               0
Alley             1911
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        22
Mas Vnr Area        22
Exter Qual           0
Exter Cond           0
                  ...
Half Bath            0
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2042
Fence             1651
Misc Feature      1986
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
SalePrice            0
Length: 81, dtype: int64

'IS NA: '

9822

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
Id                 2051 non-null int64
PID                2051 non-null int64
MS SubClass        2051 non-null int64
MS Zoning          2051 non-null object
Lot Frontage       1721 non-null float64
Lot Area           2051 non-null int64
Street             2051 non-null object
Alley              140 non-null object
Lot Shape          2051 non-null object
Land Contour       2051 non-null object
Utilities          2051 non-null object
Lot Config         2051 non-null object
Land Slope         2051 non-null object
Neighborhood       2051 non-null object
Condition 1        2051 non-null object
Condition 2        2051 non-null object
Bldg Type          2051 non-null object
House Style        2051 non-null object
Overall Qual       2051 non-null int64
Overall Cond       2051 non-null int64
Year Built         2051 non-null int64
Year Remod/Add     2051 non-null int64
Roof Style         2051 non-null object
Roof Matl          2051 non-null object
Exterior 1st       2051 non-null object
Exterior 2nd       2051 non-null object
Mas Vnr Type       2029 non-null object
Mas Vnr Area       2029 non-null float64
Exter Qual         2051 non-null object
Exter Cond         2051 non-null object
Foundation         2051 non-null object
Bsmt Qual          1996 non-null object
Bsmt Cond          1996 non-null object
Bsmt Exposure      1993 non-null object
BsmtFin Type 1     1996 non-null object
BsmtFin SF 1       2050 non-null float64
BsmtFin Type 2     1995 non-null object
BsmtFin SF 2       2050 non-null float64
Bsmt Unf SF        2050 non-null float64
Total Bsmt SF      2050 non-null float64
Heating            2051 non-null object
Heating QC         2051 non-null object
Central Air        2051 non-null object
Electrical         2051 non-null object
1st Flr SF         2051 non-null int64
2nd Flr SF         2051 non-null int64
Low Qual Fin SF    2051 non-null int64
Gr Liv Area        2051 non-null int64
Bsmt Full Bath     2049 non-null float64
Bsmt Half Bath     2049 non-null float64
Full Bath          2051 non-null int64
Half Bath          2051 non-null int64
Bedroom AbvGr      2051 non-null int64
Kitchen AbvGr      2051 non-null int64
Kitchen Qual       2051 non-null object
TotRms AbvGrd      2051 non-null int64
Functional         2051 non-null object
Fireplaces         2051 non-null int64
Fireplace Qu       1051 non-null object
Garage Type        1938 non-null object
Garage Yr Blt      1937 non-null float64
Garage Finish      1937 non-null object
Garage Cars        2050 non-null float64
Garage Area        2050 non-null float64
Garage Qual        1937 non-null object
Garage Cond        1937 non-null object
Paved Drive        2051 non-null object
Wood Deck SF       2051 non-null int64
Open Porch SF      2051 non-null int64
Enclosed Porch     2051 non-null int64
3Ssn Porch         2051 non-null int64
Screen Porch       2051 non-null int64
Pool Area          2051 non-null int64
Pool QC            9 non-null object
Fence              400 non-null object
Misc Feature       65 non-null object
Misc Val           2051 non-null int64
Mo Sold            2051 non-null int64
Yr Sold            2051 non-null int64
Sale Type          2051 non-null object
SalePrice          2051 non-null int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

'DESCRIPTIONS: '

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>PID</th>
      <th>MS SubClass</th>
      <th>Lot Frontage</th>
      <th>Lot Area</th>
      <th>Overall Qual</th>
      <th>Overall Cond</th>
      <th>Year Built</th>
      <th>Year Remod/Add</th>
      <th>Mas Vnr Area</th>
      <th>...</th>
      <th>Wood Deck SF</th>
      <th>Open Porch SF</th>
      <th>Enclosed Porch</th>
      <th>3Ssn Porch</th>
      <th>Screen Porch</th>
      <th>Pool Area</th>
      <th>Misc Val</th>
      <th>Mo Sold</th>
      <th>Yr Sold</th>
      <th>SalePrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2051.000000</td>
      <td>2.051000e+03</td>
      <td>2051.000000</td>
      <td>1721.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2029.000000</td>
      <td>...</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
      <td>2051.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1474.033642</td>
      <td>7.135900e+08</td>
      <td>57.008776</td>
      <td>69.055200</td>
      <td>10065.208191</td>
      <td>6.112140</td>
      <td>5.562165</td>
      <td>1971.708922</td>
      <td>1984.190151</td>
      <td>99.695909</td>
      <td>...</td>
      <td>93.833740</td>
      <td>47.556802</td>
      <td>22.571916</td>
      <td>2.591419</td>
      <td>16.511458</td>
      <td>2.397855</td>
      <td>51.574354</td>
      <td>6.219893</td>
      <td>2007.775719</td>
      <td>181469.701609</td>
    </tr>
    <tr>
      <th>std</th>
      <td>843.980841</td>
      <td>1.886918e+08</td>
      <td>42.824223</td>
      <td>23.260653</td>
      <td>6742.488909</td>
      <td>1.426271</td>
      <td>1.104497</td>
      <td>30.177889</td>
      <td>21.036250</td>
      <td>174.963129</td>
      <td>...</td>
      <td>128.549416</td>
      <td>66.747241</td>
      <td>59.845110</td>
      <td>25.229615</td>
      <td>57.374204</td>
      <td>37.782570</td>
      <td>573.393985</td>
      <td>2.744736</td>
      <td>1.312014</td>
      <td>79258.659352</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>5.263011e+08</td>
      <td>20.000000</td>
      <td>21.000000</td>
      <td>1300.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1872.000000</td>
      <td>1950.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>2006.000000</td>
      <td>12789.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>753.500000</td>
      <td>5.284581e+08</td>
      <td>20.000000</td>
      <td>58.000000</td>
      <td>7500.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>1953.500000</td>
      <td>1964.500000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>4.000000</td>
      <td>2007.000000</td>
      <td>129825.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1486.000000</td>
      <td>5.354532e+08</td>
      <td>50.000000</td>
      <td>68.000000</td>
      <td>9430.000000</td>
      <td>6.000000</td>
      <td>5.000000</td>
      <td>1974.000000</td>
      <td>1993.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>27.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>6.000000</td>
      <td>2008.000000</td>
      <td>162500.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2198.000000</td>
      <td>9.071801e+08</td>
      <td>70.000000</td>
      <td>80.000000</td>
      <td>11513.500000</td>
      <td>7.000000</td>
      <td>6.000000</td>
      <td>2001.000000</td>
      <td>2004.000000</td>
      <td>161.000000</td>
      <td>...</td>
      <td>168.000000</td>
      <td>70.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>8.000000</td>
      <td>2009.000000</td>
      <td>214000.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2930.000000</td>
      <td>9.241520e+08</td>
      <td>190.000000</td>
      <td>313.000000</td>
      <td>159000.000000</td>
      <td>10.000000</td>
      <td>9.000000</td>
      <td>2010.000000</td>
      <td>2010.000000</td>
      <td>1600.000000</td>
      <td>...</td>
      <td>1424.000000</td>
      <td>547.000000</td>
      <td>432.000000</td>
      <td>508.000000</td>
      <td>490.000000</td>
      <td>800.000000</td>
      <td>17000.000000</td>
      <td>12.000000</td>
      <td>2010.000000</td>
      <td>611657.000000</td>
    </tr>
  </tbody>
</table>
<p>8 rows × 39 columns</p>
</div>

None

In [4]:
null_columns = train.columns[train.isnull().any()]

In [5]:
train[null_columns].isnull().sum()

Lot Frontage       330
Alley             1911
Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Qual           55
Bsmt Cond           55
Bsmt Exposure       58
BsmtFin Type 1      55
BsmtFin SF 1         1
BsmtFin Type 2      56
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
Bsmt Full Bath       2
Bsmt Half Bath       2
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Pool QC           2042
Fence             1651
Misc Feature      1986
dtype: int64

Lot Frontage, Alley, Mas Vnr Area        22
Bsmt Qual           55
Bsmt Cond           55
Bsmt Exposure       58
BsmtFin Type 1      55
BsmtFin SF 1         1
BsmtFin Type 2      56
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
Bsmt Full Bath       2
Bsmt Half Bath       2
Fireplace Qu      1000 - Fireplace quality
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Pool QC           2042
Fence             1651
Misc Feature      1986

In [7]:
obj_cols = [x for x in train.columns if train[x].dtype == object]

In [14]:
train[obj_cols].describe().T.sor

               count unique      top  freq
MS Zoning       2051      7       RL  1598
Street          2051      2     Pave  2044
Alley            140      2     Grvl    85
Lot Shape       2051      4      Reg  1295
Land Contour    2051      4      Lvl  1843
Utilities       2051      3   AllPub  2049
Lot Config      2051      5   Inside  1503
Land Slope      2051      3      Gtl  1953
Neighborhood    2051     28    NAmes   310
Condition 1     2051      9     Norm  1767
Condition 2     2051      8     Norm  2025
Bldg Type       2051      5     1Fam  1700
House Style     2051      8   1Story  1059
Roof Style      2051      6    Gable  1619
Roof Matl       2051      6  CompShg  2025
Exterior 1st    2051     15  VinylSd   724
Exterior 2nd    2051     15  VinylSd   721
Mas Vnr Type    2029      4     None  1218
Exter Qual      2051      4       TA  1247
Exter Cond      2051      5       TA  1778
Foundation      2051      6    PConc   926
Bsmt Qual       1996      5       TA   887
Bsmt Cond       1996      5       TA  1834
Bsmt Exposure   1993      4       No  1339
BsmtFin Type 1  1996      6      GLQ   615
BsmtFin Type 2  1995      6      Unf  1749
Heating         2051      5     GasA  2018
Heating QC      2051      5       Ex  1065
Central Air     2051      2        Y  1910
Electrical      2051      5    SBrkr  1868
Kitchen Qual    2051      4       TA  1047
Functional      2051      8      Typ  1915
Fireplace Qu    1051      5       Gd   523
Garage Type     1938      6   Attchd  1213
Garage Finish   1937      3      Unf   849
Garage Qual     1937      5       TA  1832
Garage Cond     1937      5       TA  1868
Paved Drive     2051      3        Y  1861
Pool QC            9      4       Gd     4
Fence            400      4    MnPrv   227
Misc Feature      65      5     Shed    56
Sale Type       2051      9      WD   1781

In [33]:
# def dummied(train, test):
#     l = ['MS SubClass']
#     for i in train.columns:
#         if train[i].dtype == object:
#             l.append[i]
    
    
        
# going to try LabelEncoder instead

In [15]:
train.Alley.unique()

array([nan, 'Pave', 'Grvl'], dtype=object)

In [16]:
# drop nan in alley and binarize?

In [23]:
for x in train[obj_cols]:
    print(x,"\n", train[x].unique())

MS Zoning
 ['RL' 'RM' 'FV' 'C (all)' 'A (agr)' 'RH' 'I (all)']
Street
 ['Pave' 'Grvl']
Alley
 [nan 'Pave' 'Grvl']
Lot Shape
 ['IR1' 'Reg' 'IR2' 'IR3']
Land Contour
 ['Lvl' 'HLS' 'Bnk' 'Low']
Utilities
 ['AllPub' 'NoSeWa' 'NoSewr']
Lot Config
 ['CulDSac' 'Inside' 'Corner' 'FR2' 'FR3']
Land Slope
 ['Gtl' 'Sev' 'Mod']
Neighborhood
 ['Sawyer' 'SawyerW' 'NAmes' 'Timber' 'Edwards' 'OldTown' 'BrDale'
 'CollgCr' 'Somerst' 'Mitchel' 'StoneBr' 'NridgHt' 'Gilbert' 'Crawfor'
 'IDOTRR' 'NWAmes' 'Veenker' 'MeadowV' 'SWISU' 'NoRidge' 'ClearCr'
 'Blmngtn' 'BrkSide' 'NPkVill' 'Blueste' 'GrnHill' 'Greens' 'Landmrk']
Condition 1
 ['RRAe' 'Norm' 'PosA' 'Artery' 'Feedr' 'PosN' 'RRAn' 'RRNe' 'RRNn']
Condition 2
 ['Norm' 'RRNn' 'Feedr' 'Artery' 'PosA' 'PosN' 'RRAe' 'RRAn']
Bldg Type
 ['1Fam' 'TwnhsE' 'Twnhs' '2fmCon' 'Duplex']
House Style
 ['2Story' '1Story' '1.5Fin' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin' '1.5Unf']
Roof Style
 ['Gable' 'Hip' 'Flat' 'Mansard' 'Shed' 'Gambrel']
Roof Matl
 ['CompShg' 'WdShngl' 'Tar&Grv' 'WdShake' 'Membran' 'ClyTile']
Exterior 1st
 ['HdBoard' 'VinylSd' 'Wd Sdng' 'BrkFace' 'Plywood' 'MetalSd' 'AsbShng'
 'CemntBd' 'WdShing' 'Stucco' 'BrkComm' 'Stone' 'CBlock' 'ImStucc'
 'AsphShn']
Exterior 2nd
 ['Plywood' 'VinylSd' 'Wd Sdng' 'HdBoard' 'MetalSd' 'AsbShng' 'CmentBd'
 'Wd Shng' 'BrkFace' 'Stucco' 'Brk Cmn' 'ImStucc' 'Stone' 'CBlock'
 'AsphShn']
Mas Vnr Type
 ['BrkFace' 'None' nan 'Stone' 'BrkCmn']
Exter Qual
 ['Gd' 'TA' 'Ex' 'Fa']
Exter Cond
 ['TA' 'Gd' 'Fa' 'Ex' 'Po']
Foundation
 ['CBlock' 'PConc' 'BrkTil' 'Slab' 'Stone' 'Wood']
Bsmt Qual
 ['TA' 'Gd' 'Fa' nan 'Ex' 'Po']
Bsmt Cond
 ['TA' 'Gd' nan 'Fa' 'Po' 'Ex']
Bsmt Exposure
 ['No' 'Gd' 'Av' nan 'Mn']
BsmtFin Type 1
 ['GLQ' 'Unf' 'ALQ' 'Rec' nan 'BLQ' 'LwQ']
BsmtFin Type 2
 ['Unf' 'Rec' nan 'BLQ' 'GLQ' 'LwQ' 'ALQ']
Heating
 ['GasA' 'GasW' 'Grav' 'Wall' 'OthW']
Heating QC
 ['Ex' 'TA' 'Gd' 'Fa' 'Po']
Central Air
 ['Y' 'N']
Electrical
 ['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']
Kitchen Qual
 ['Gd' 'TA' 'Fa' 'Ex']
Functional
 ['Typ' 'Mod' 'Min2' 'Maj1' 'Min1' 'Sev' 'Sal' 'Maj2']
Fireplace Qu
 [nan 'TA' 'Gd' 'Po' 'Ex' 'Fa']
Garage Type
 ['Attchd' 'Detchd' 'BuiltIn' 'Basment' nan '2Types' 'CarPort']
Garage Finish
 ['RFn' 'Unf' 'Fin' nan]
Garage Qual
 ['TA' 'Fa' nan 'Gd' 'Ex' 'Po']
Garage Cond
 ['TA' 'Fa' nan 'Po' 'Gd' 'Ex']
Paved Drive
 ['Y' 'N' 'P']
Pool QC
 [nan 'Fa' 'Gd' 'Ex' 'TA']
Fence
 [nan 'MnPrv' 'GdPrv' 'GdWo' 'MnWw']
Misc Feature
 [nan 'Shed' 'TenC' 'Gar2' 'Othr' 'Elev']
Sale Type
 ['WD ' 'New' 'COD' 'ConLD' 'Con' 'CWD' 'Oth' 'ConLI' 'ConLw']

In [25]:
train['Alley'].isn

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13      False
14       True
15       True
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28       True
29       True
        ...
2021     True
2022     True
2023     True
2024     True
2025     True
2026     True
2027     True
2028     True
2029     True
2030    False
2031     True
2032     True
2033     True
2034     True
2035     True
2036     True
2037     True
2038     True
2039     True
2040     True
2041     True
2042    False
2043     True
2044     True
2045     True
2046     True
2047     True
2048     True
2049     True
2050     True
Name: Alley, Length: 2051, dtype: bool